<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.png" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/unsemantic/1.1.3/unsemantic-grid-responsive-tablet.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/6.0.2/jquery.mmenu.all.css">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">


<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
	
<link href="{% static "css/style.css" %}" rel="stylesheet">



<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
{% block extra_js %}{% endblock %}
{% include "includes/footer_scripts.html" %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}page-top{% endblock %}">
{% block intro %}


{% endblock %}
<div id="wrap-page">
<div id="my-menu">
	<div class="my-menu-inner">
    	{% page_menu "pages/menus/dropdown.html" %}
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-top Fixed" role="navigation">
	<!-- <div class="container"> -->
	<div class="navbar-header grid-40 tablet-grid-40 mobile-grid-50">
	    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
	    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
	</div>
	<div class="navbar-right grid-60 tablet-grid-60 mobile-grid-50">
		<p id="mymenu-button">
			MENU
			<i class="fa fa-bars" aria-hidden="true"></i>
		</p>
	</div>
	<!-- </div> -->
</div>
{% block title_wrapper%}
<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>{% block title %}{% endblock %}</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div>
{% endblock %}
<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

 
   



</div>
{% block all_content%}
<div class="container mtb">
<div class="row">
{% block left_wrapper%}
<div class="col-md-{% block left_width %}2{% endblock %} left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>
{% endblock %}
{% block main_wrapper%}
<div class="col-md-{% block main_width %} 7 {% endblock %}middle">
    {% block main %}{% endblock %}
</div>
{% endblock %}
{% block right_wrapper%}
<div class="col-md-{% block right_width %}3{% endblock %} right">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
  
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    
</div>
{% endblock %}

</div>
</div>
{% endblock %}

<div id="footerwrap">
	<div class="inner">
		<div class="grid-60 tablet-grid-60 mobile-grid-100 contact-form">
			<!-- {% page_menu "pages/menus/footer.html" %}	 -->
			<section>
				<form method="post" action="#">
					<div class="field half first">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" />
					</div>
					<div class="field half">
						<label for="email">Email</label>
						<input type="text" name="email" id="email" />
					</div>
					<div class="field">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="6"></textarea>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="special" /></li>
						<li><input type="reset" value="Clear" /></li>
					</ul>
				</form>
			</section>
		</div>
		<div class="grid-40 tablet-grid-40 mobile-grid-100 self-info">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="#">information@untitled.tld</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<span>(000) 000-0000 x12387</span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>1234 Somewhere Road #5432<br />
					Nashville, TN 00000<br />
					United States of America</span>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="footer">
	<div class="inner">
		<ul class="icons">
			<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
		</ul>
		<ul class="copyright">
			<li>
				<p class="site-info">
				    {% trans "Template by" %}
				    <a href="http://www.blacktie.co">Blacktie</a>
				   	{% trans "and" %}
				   	<a href="https://html5up.net/forty">HTML5 Up Forty</a>
				    {% trans "Mezzanine theme by" %}
				    <a href="http://thecodinghouse.in">CodingHouse</a>
				</p>
			</li>
		</ul>
	</div>
</div>
</div>
<!-- Core JavaScript Files -->
  
    
     <!-- Placed at the end of the document so the pages load faster -->
   

	<script src="{% static "js/jquery.hoverdir.js" %}"></script>
	<script src="{% static "js/jquery.hoverex.min.js" %}"></script>
	<script src="{% static "js/jquery.prettyPhoto.js" %}"></script>
  	<script src="//unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  	<script src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/6.0.2/jquery.mmenu.all.min.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/6.1.0/addons/fixedelements/jquery.mmenu.fixedelements.js"></script>
  	<script src="{% static "js/custom.js" %}"></script>

</body>
</html>
