{% load i18n mezzanine_tags slides_tags %}
{% get_homepage_slides as slides %}
{% if slides %}
<div class="swiper-container">
	<div class="swiper-wrapper">
		{% for slide in slides %}
		<div class="swiper-slide">
			<a href="{{ slide.content_object.get_absolute_url }}">
			<img
				src="{{ MEDIA_URL }}{% thumbnail slide.image 850 300 %}"
				class="img-responsive" />
			</a>
			<div class="caption">{{ slide.description }}</div>
		</div>
		{% endfor %}
	</div>
	<!-- Add Pagination --> 
	<div class="swiper-pagination"></div>
	<!-- Add Arrows -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>
<script type="text/javascript">
var swiper = new Swiper('.swiper-container', {
    pagination: {
      el: '.swiper-pagination',
      type: 'progressbar',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% endif %}