{% load i18n mezzanine_tags slides_tags %} 
<!-- Begin Recent Work + Clients -->
<section class="owl-section border-top owl-theme" id="section-{{ category.slug }}">
	<div class="heading">
		<h4><span class=""></span>{{ category.title }}</h4>
              <div class="owl-controls">
                  <div id="customNav" class="owl-nav"></div>
              </div>
	</div>
	<div id="{{ category.slug }}-owlcarousel" class="owl-carousel owl-carousel-thumb">
		{% for flatpage in flatpages_list %}
		<div class="thumbnail">
            <div class="caption">
            	<div class="thumbnail-caption-holder">
                 <h4 class="text-white">{{ flatpage.title }}</h4>
                 <a href="{{ flatpage.get_absolute_url }}" class="btn btn-rw btn-clear"><span class="ion-android-search"></span>{% trans 'Show' %}</a>
                </div>
            </div>
            <img src="{{ MEDIA_URL }}{% thumbnail flatpage.featured_image 200 130 %}" alt="...">
        </div>
        {% endfor %}
	</div>
</section><!-- /section -->
<!-- End Recent Work + Clients -->