{% extends "base.html" %}
{% load i18n mezzanine_tags keyword_tags disqus_tags %}

{% block meta_title %}{{ flatpage.meta_title }}{% endblock %}

{% block title %}
{% editable flatpage.title %}{{ flatpage.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ flatpage.title }}</li>
{% endblock %}

{% block main %}
<div class="news-wrapper">
	<article class="news-item page-row has-divider clearfix row">
		{% block blog_post_detail_postedby %}
		{% editable flatpage.publish_date %}
		<p class="meta text-muted">
		    {% trans "Posted by" %}:
		    {% with flatpage.authors.all as authors %}
		    {% for author in authors %}
			    <a href="{% url "flatpage_list_author" author %}">{{ author.get_full_name|default:author.username }}</a> 
			    {% if not forloop.last %}, {% endif %}
		    {% endfor %}
		    {% endwith %}
		    {% blocktrans with sometime=flatpage.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
		</p>
		{% endeditable %}
		{% endblock %}
    	{% if flatpage.featured_image %}
        <img class="img-responsive news-image" src="{{ MEDIA_URL }}{% thumbnail flatpage.featured_image 250 0 %}" alt="" />
        {% else %}
        {% endif %}
	    {% editable flatpage.content %}
		{{ flatpage.content|richtext_filters|safe }}
		{% endeditable %}
		
		{% with flatpage.images.all as images and flatpage.featured_image as featured_image %}
		{% for image in images %}
		{% if image.image != featured_image %}
		<a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="{{ image.description }}" href="{{ MEDIA_URL }}{% thumbnail image.image 800 0 %}">
			<img class="img-responsive img-thumbnail" src="{{ MEDIA_URL }}{% thumbnail image.image 300 200 %}" alt="{{ image.description }}">
		</a> 
		{% endif %}
		{% endfor%} 
		{% endwith %}
	</article><!--//news-item-->
</div>

{% block blog_post_detail_sharebuttons %}
{% set_short_url_for flatpage %}
<a class="btn btn-sm share-twitter" target="_blank" href="https://twitter.com/intent/tweet?url={{ flatpage.short_url|urlencode }}&amp;text={{ flatpage.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn btn-sm share-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">{% trans "Share on Facebook" %}</a>
{% endblock %}

{% block flatpage_previous_next %}
<ul class="pager">
{% with flatpage.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with flatpage.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}
{% endblock %}