{% load i18n mezzanine_tags %}
{% with images=page.slide_set.all %}
{% if images %}
<div id="slider-{{ page.pk }}" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators carousel-indicators-caption">
		{% for image in images %}
		<li data-target="#slider-{{ page.pk }}" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
		{% endfor %}
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		{% for image in images %}
		<div class="item {% if forloop.first %}active{% endif %}">
			<img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 940 300 %}" alt="{{ image.description }}">
			<div class="carousel-caption fadeInUpBig-animated">
                   <h3 class="no-margin text-white">{{ image.caption }}</h3>
                   <p class="text-light-grey hidden-xs no-margin">{{ image.description }}</p>
               </div>
		</div>
		{% endfor %}
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#slider-{{ page.pk }}" role="button" data-slide="prev">
		<span class="ion-chevron-left carousel-arrow-left" aria-hidden="true"></span>
	</a>
	<a class="right carousel-control" href="#slider-{{ page.pk }}" role="button" data-slide="next">
		<span class="ion-chevron-right carousel-arrow-right" aria-hidden="true"></span>
	</a>
</div>
{% endif %}
{% endwith %}
<!-- End Carousel -->