<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "lib/swiper/dist/css/swiper.min.css" %}">
<link rel="stylesheet" href="{% static "lib/font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "responsiveslides/responsiveslides.css" %}">
<!-- <link rel="stylesheet" href="{% static "css/mezzanine.css" %}"> -->
<link rel="stylesheet" href="{% static "css/styles.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "lib/swiper/dist/js/swiper.min.js" %}"></script>
<script src="{% static "js/default.js" %}"></script>
<script src="{% static "responsiveslides/responsiveslides.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{% endblock %}">
	<!-- ******HEADER****** --> 
	<header class="header">
	    <div class="top-bar">
	        <div class="container">              
	            <ul class="social-icons col-md-4 col-sm-4 col-xs-12 hidden-xs">
	                <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
	                <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
	                <li><a href="#" ><i class="fa fa-youtube"></i></a></li>
	                <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
	                <li><a href="#" ><i class="fa fa-google-plus"></i></a></li>         
	                <li class="row-end"><a href="#" ><i class="fa fa-rss"></i></a></li>             
	            </ul><!--//social-icons-->
	            <div class="col-md-6 col-sm-6 col-xs-12">
	            	{% block navbar_search_form %}{% search_form "all" %}{% endblock %}
	            </div>
	            <div class="col-md-2 col-sm-2 col-xs-12">
	            	{% block language_selector %}{% include "includes/language_selector.html" %}{% endblock %}
	            </div>      
	        </div>      
	    </div><!--//to-bar-->
	    <div class="header-main">
	    	<div class="container">
		        <h1 class="logo col-md-4 col-sm-4">
		            <a href="index.html"><img id="logo" src="assets/images/logo.png" alt="Logo"></a>
		        </h1><!--//logo-->           
		        <div class="info col-md-8 col-sm-8">
		            <ul class="menu-top navbar-right hidden-xs">
		                <li class="divider"><a href="index.html">Home</a></li>
		                <li class="divider"><a href="faq.html">FAQ</a></li>
		                <li><a href="contact.html">Contact</a></li>
		            </ul><!--//menu-top-->
		            <br />
		            <div class="contact pull-right">
		                <p class="phone"><i class="fa fa-phone"></i>Call us today 0800 123 4567</p> 
		                <p class="email"><i class="fa fa-envelope"></i><a href="#">enquires@website.com</a></p>
		            </div><!--//contact-->
		        </div><!--//info-->
	        </div>
	    </div><!--//header-main-->
	</header><!--//header-->

	<nav class="main-nav" role="navigation">
		<div class="container">
		    <div class="navbar-header">
		        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button><!--//nav-toggle-->
		    </div><!--//navbar-header-->            
		    <div class="navbar-collapse collapse" id="navbar-collapse">
				{% page_menu "pages/menus/dropdown.html" %}
			</div><!--//navabr-collapse-->
		</div><!--//container-->
	</nav><!--//main-nav-->

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<div class="container">
	<div class="page-wrapper">
		{% block page-header %}
		<div class="row">
			<div class="col-md-12">
				<header class="page-heading clearfix"> 
					<h1 class="heading-title pull-left">{% block title %}{% endblock %}</h1>
					<div class="breadcrumbs pull-right">
						<ul class="breadcrumbs-list">
						{% spaceless %}
						{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
						{% endspaceless %}
						</ul>
					</div>
				</header>
				
			</div>
		</div>
		{% endblock %}
		{% block main-top %}
		{% endblock %}
		<div class="row">
		
			<div class="col-md-9 left">
				<div class="page-content">
			    	{% block main %}{% endblock %}
			    </div>
			</div>
		
			<div class="col-md-3 right">
			    {% nevercache %}
			    {% include "includes/language_selector.html" %}
			    {% include "includes/user_panel.html" %}
			    {% endnevercache %}
			    <div class="panel panel-default">
				    <div class="panel-body">
				    {% block right_panel %}
				    {% ifinstalled mezzanine.twitter %}
				    {% include "twitter/tweets.html" %}
				    {% endifinstalled %}
				    {% endblock %}
				    </div>
			    </div>
			    {% include "includes/keywords.html" %}
			</div>
		</div>
	</div>
</div>
<!-- ******FOOTER****** --> 
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
            <div class="footer-col col-md-3 col-sm-4 about">
                <div class="footer-col-inner">
                    <h3>About</h3>
                    {% page_menu "pages/menus/footer.html" %}
                </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="footer-col col-md-6 col-sm-8 newsletter">
                <div class="footer-col-inner">
                    <h3>Join our mailing list</h3>
                    <p>Subscribe to get our weekly newsletter delivered directly to your inbox</p>
                    <form class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter your email" />
                        </div>
                        <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                    </form>
                    
                </div><!--//footer-col-inner-->
            </div><!--//foooter-col--> 
            <div class="footer-col col-md-3 col-sm-12 contact">
                <div class="footer-col-inner">
                    <h3>{% trans 'Contact' %}</h3>
                    <div class="row">
                        <p class="adr clearfix col-md-12 col-sm-4">
                            <i class="fa fa-map-marker pull-left"></i>        
                            <span class="adr-group pull-left">       
                                <span class="street-address">{{ settings.SITE_ADDRESS_LINE_1 }}</span><br>
                                <span class="region">{{ settings.SITE_ADDRESS_LINE_2 }}</span><br>
                                <span class="postal-code">{{ settings.SITE_ADDRESS_POSTAL_CODE }}</span><br>
                                <span class="country-name">{{ settings.SITE_ADDRESS_CITY }}</span>
                            </span>
                        </p>
                        <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>{{ settings.SITE_PHONE }}</p>
                        <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="#">{{ settings.SITE_EMAIL }}</a></p>  
                    </div> 
                </div><!--//footer-col-inner-->            
            </div><!--//foooter-col-->   
            </div>   
        </div>        
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2014 College Green Online | Website template by <a href="#">3rd Wave Media</a></small>
                <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                    <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" ><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" ><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" ><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" ><i class="fa fa-skype"></i></a></li> 
                    <li class="row-end"><a href="#" ><i class="fa fa-rss"></i></a></li>
                </ul><!--//social-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->

{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>
