{% load i18n mezzanine_tags slides_tags static %} 
<!-- Begin Recent Work + Clients -->
<div class="{{ css_classes }}">
	<section class="owl-section border-top owl-theme" id="section-{{ category.slug }}">
		<div class="heading">
			<h4><span class=""></span>{{ category.baslik }}</h4>
	              <div class="owl-controls">
	                  <div id="owl-nav-{{ category.slug }}" class="owl-nav"></div>
	              </div>
		</div>
		<div id="owlcarousel-{{ category.slug }}" class="owl-carousel owl-carousel-thumb">
			{% for flatpage in flatpages_list %}
				<div class="news-item">
					<img class="thumb" src="{% get_media_prefix %}{% thumbnail flatpage.featured_image width height %}"  alt="" />
			        <div class="news-content">
						<h2 class="title"><a href="{{ flatpage.get_absolute_url }}">{{ flatpage.title }}</a></h2>
				        {{ flatpage.description_from_content|safe|truncatewords_html:30 }}
				        <a class="btn btn-theme read-more" href="{{ flatpage.get_absolute_url }}">{% trans "read more" %}<i class="fa fa-chevron-right"></i></a>
			        </div>
	        	</div>
	        {% endfor %}
		</div>
	</section><!-- /section -->
	<!-- End Recent Work + Clients -->
</div>
<script type="text/javascript">
$('#owlcarousel-{{ category.slug }}').owlCarousel({
    loop: false,
    margin: 10,
    nav: true,
    dots: false,
    navContainer: '#owl-nav-{{ category.slug }}',
    navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
    responsive: {
        0: {
            items: 1
        },
        600: {
            items: 1
        },
        1000: {
            items: 1
        }
    }
});
</script>